<header><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></header>

<h1>Friends for <%= @current_user.name %></h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Friend</th>
    </tr>
  </thead>

  <tbody>
    
    <% @friends.each_with_index do |friend| %>
    <tr>
      <th><img src="<%= friend["picture"]["data"]["url"] %>"></th>
      <td><%= link_to friend["name"], friend["link"], :target => "_blank" %></td>
    </tr>
    <% end %>

  </tbody>

</table>